
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Code by Abby Napier */

:root{
    --lt-blue: #32A9D9;
    --dk-blue: #002844;
    --dk-orange: #B34406;
    --lt-orange: #f29f05;
    --white: #FBFFF8;
    --black: #21110F;
    --gray: #516570;
    --body-font: "Inter Tight", sans-serif;
    --header-font:  "Stylish", sans-serif;
}

/*Site wide*/

/*Skip Link*/
.skip-link{
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}


main{
    margin: auto;
    max-width: 1200px;
}

p, ul{
    font-size: 20px;
    font-family: var(--body-font);
}

h1{
    font-size: 45px;
    font-family: var(--header-font);
}

h2{
    font-size: 40px;
    font-family: var(--header-font);
}

h3{
    font-size: 35px;
    font-family: var(--header-font);
}

h4{
    font-size: 30px;
    font-family: var(--header-font);
}

h5{
    font-family: var(--header-font);
    font-size: 28px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--dk-blue);
    position: relative;
}

header img{
    margin: 25px;
    width: 100px;
    height: 50px;
    max-width: 100%;
    
}

b{
    font-weight: bold;
}

/*Navigation*/

nav a{
    text-decoration: none;
    font-family: var(--header-font);
    font-size: 20px;
    text-align: center;
    color: var(--white);
    position: relative;   
    z-index: 1;
}

.nav-toggle {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 32px;
    position: absolute;
    top: 50%;            
    right: 3rem;
    margin-top: 1rem;
    transform: translateY(-50%); 
    display: block; 
}


.nav-toggle span {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transition: 0.3s ease;
    transform-origin: center;
}


.nav-menu {
    position: absolute;   
    top: 100%;            
    right: 5px;
    width: 100%;
    display: none;
    list-style: none;
    padding: 1rem;
    margin: 0;
    background-color: var(--dk-blue);
    outline: solid 3px var(--orange);
    z-index: 99;  
    width: 9rem;
    flex-direction: column;
    line-height: 40px;
}


.nav-menu.active {
    display: flex;
}


.nav-toggle span:nth-child(1) {
    top: 6px;
}

.nav-toggle span:nth-child(2) {
    top: 14px;
}

.nav-toggle span:nth-child(3) {
    top: 22px;
}

.nav-toggle.open span:nth-child(1) {
    top: 14px;
    transform: rotate(45deg);
}

.nav-toggle.open span:nth-child(2) {
    opacity: 0;
}

.nav-toggle.open span:nth-child(3) {
    top: 14px;
    transform: rotate(-45deg);
}

/*Light and dark modes for background*/
body.light-mode {
  background-color: var(--white);
  color: var(--black);
}

body.dark-mode {
  background-color: var(--dk-blue);
  color: var(--white);
}


/*Light/Dark toggle*/
#light-toggle {
  position: absolute;
  top: 0.4rem;
  right: 1rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--dk-blue);
  border: 1px solid var(--gray);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  appearance: none;
  z-index: 1;
}

/*Footer*/
footer{
    background-color: var(--lt-orange);
    color: var(--dk-blue);
}

.footerNav{
    text-align: center;
    padding-top: 1rem;
}

.footerNav ul{
    list-style: none;
    line-height: 30px;
}

.footerNav a{
    color: var(--dk-blue); 
}

.socialText{
 text-align: center;
 padding-top: 1rem;
}

.social-icons{
    padding-top: 1rem;
    
}

.copyright p{
    text-align: center;
    font-size: 15px;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

/*Home Page*/
#home_page{
    background-color: var(--dk-blue);
    color: var(--white);
}

#home_page img{
    max-width: 100%;
    margin: 3rem 0;
    mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        var(--dk-blue) 10%,
        var(--dk-blue) 90%,
        transparent 100%
    );

    -webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        var(--dk-blue) 10%,
        var(--dk-blue) 90%,
        transparent 100%
    );
}

#home_page h1{
    text-align: center;
}

#home_page main p{
    line-height: 25px;
    text-align: center;
    padding: 0 20px;
    margin: auto;
}

#facts{
    background-color: var(--white);
    color: var(--black);
    padding: 1rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.522), 0 6px 20px 0 rgba(0, 0, 0, 0.438);
    border: solid 3px var(--gray);
}

#facts h2{
    text-align: center;
    margin-bottom: 20px;
}

#facts ul{
    margin: 0 50px;
    list-style-type: circle;
}

#facts li{
    margin-top: 20px;
}

#facts li::marker {
  color: var(--lt-blue);
}

body.dark-mode #facts{
    background-color: var(--dk-blue);
    color: var(--white);
}

body.light-mode #facts{
    background-color: var(--white);
    color: var(--black);
}

/*Tank Set Up Page*/

#tank-setup main{
    margin: auto;
    padding: 30px;
    line-height: 30px;
}


#tank-setup.light-mode main a {
  color: var(--dk-orange);
 
}

#tank-setup.dark-mode main a {
  color: var(--lt-orange);
}


#tank-setup main img{
    max-width: 100%; 
    height: auto;
    padding-bottom: 1rem;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

#tank-setup h1, #tank-setup h2, #tank-setup h3, #tank-setup h4{
    padding: 1rem 0;
    text-align: center;
}

#result{
    padding-top: 1rem;
}

.dot {
    display: inline-block;
    width: 5px;
    height: 5px;
    border: 2px solid var(--white); 
    border-radius: 50%;
  margin-bottom: 3px;
}

#calcButton{
    padding: 5px;
    background-color: var(--lt-orange);
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    font-family: var(--body-font);
    color: var(--dk-blue);
    border: none;
    box-shadow:  1px 1px 1px  #CC5500;
    width: 10rem;
    margin: auto;
}

#tank-setup input::placeholder{
    color: var(--black);
}

#tank-setup input{
    border: 2px solid var(--dk-blue);
}

#calcButton:hover{
    box-shadow: inset 3px 3px 3px  #CC5500;
}

body.dark-mode #fish-count{
    color: var(--black);
}


#fish-count{
    display: grid;
    text-align: center;
    padding: 1rem 0 2rem 0;
    background-color: #B8D3D9;
    background-size: cover;
    background-position: center;
    min-height: 300px;
    max-width: 100%;
    mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        #B8D3D9 3%,
        #B8D3D9 97%,
        transparent 100%
    );

    -webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        #B8D3D9 3%,
        #B8D3D9 97%,
        transparent 100%
    );
}

.stock-grid {
    margin-top: 1rem;
}


#gallons{
    width: 12.5rem;
    font-size: 18px;
    font-family: var(--body-font);
    margin:20px auto;
}

.setup-ul{
    padding-left: 20px;
    list-style-type: disc;

}

.setup-ul li::marker {
  color: var(--lt-blue);
  font-size: 1.5em;
}

#setup-water-fish{
    margin-top: 4rem;
}

#add-fish, #water-parameters, #tank-interior, #water-prep, #selecting-fish, #selecting-fish-tanks{
    border: solid 1px var(--lt-blue);
    margin: 1rem 0;
}

#add-fish p, #water-parameters p, #tank-interior ul, #water-prep p, #selecting-fish p, #selecting-fish-tanks p{
    margin: 20px;

}
/*Fish page*/

#fish-page h1, #fish-page h2{
    margin: 30px;
    text-align: center;
}

.fish-types span{
    font-size: 20px;
    font-family: var(--body-font);
    background-color: var(--lt-blue);
    display: block;
    width: 100%;
    padding: 10px 0;  
    box-sizing: border-box;
    text-align: center;
}

.fish-item {
    cursor: pointer;
    display: flex;
    flex-direction: column; 
    margin: 2rem auto;
    align-items: center;  
    max-width: 450px;  
    box-shadow: 3.7px 7.4px 7.4px hsl(0deg 0% 0% / 0.39);
    transition: box-shadow 0.5s ease-in-out, transform 0.3s ease-out; 
            
}

.fish-item:hover{
    box-shadow: 0.4px 0.8px 0.8px hsl(0deg 0% 0% / 0.49);
    transform: scale(1.05);
}

.fish-item img {
    max-width: 100%;
    display: block;
}

.fish-info {
    display: none;
    max-width: 450px;      
    font-size: 20px;
    font-family: var(--body-font);
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    line-height: 25px;
    border: 2px solid var(--lt-blue);
}

.fish-types{
    align-items: start;
}

/*Problems Page*/
#problems-page  main{
    margin: auto;
    padding: 30px;
    line-height: 30px;
}

#problems-page  main a{
    font-size: 20px;
    font-family: var(--body-font);
}


#problems-page.light-mode main a {
  color: var(--dk-orange);
 
}

#problems-page.dark-mode main a {
  color: var(--lt-orange);
}


#problems-page  main img{
    max-width: 100%; 
    height: auto;
    padding-bottom: 1rem;
    padding-top: 2rem;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

#problems-page h1, #problems-page h2, #problems-page h3, #problems-page h4{
    padding: 1rem 0;
    text-align: center;
}

#problems-page main ul{
    list-style-type: disc;
    line-height: 25px;
    padding-bottom: 1rem;
}

#problems-page li::marker {
  color: var(--lt-blue);

}

#fish-problems h5{
    margin: 2rem 0 1rem 0;
}

#tank-problems h5{
    margin: 2rem 0 1rem 0;
}

#ich, #nippedfin, #finrot, #dropsy, #swimbladder, #cloudywater, #algae-bloom, #new-tank-syn, #calcium {
    border: solid 1px var(--lt-blue);
    margin: 1rem 0;
}

#problems-page p, #problems-page h5{
    padding: 0 20px;
} 

#problems-page ul{
    padding: 0 30px;
}

#water-a{
    text-align: center;
}

/*Mini Nav*/

.mini-nav{
    list-style-type: disc;
    line-height: 25px;
}

.on-page{
    font-size: 23px;
}

.mini-nav-div{
    display: flex;
    justify-content: center;
}

.mini-nav a{
    text-decoration: none;
    margin: 0 auto;
}


body.light-mode .mini-nav a{
  color: var(--dk-orange);
 
}

body.dark-mode .mini-nav a{
  color: var(--lt-orange);
}


.mini-nav li::marker {
  color: var(--lt-blue);

}

/*Links page*/

#links-page main a{
    font-family: var(--body-font);
    font-size: 20px;
    display: inline-block;
}

#links-page.light-mode main a{
  color: var(--dk-orange);
 
}

#links-page.dark-mode main a{
  color: var(--lt-orange);
}

#links-page main p{
    font-size: 20px;
}
.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 12px;
    line-height: 1.5;
}

.links-grids img {
    display: none;
}

.links-grids {
    display: grid;
    align-items: center;
    margin: 20px 0;
}

#links-page h1{
    margin: 30px 0;
    text-align: center;
}

#tank-care{
    margin-bottom: 50px;
}
/* MEDIA QUERY (medium) */
@media screen and (min-width: 600px){

/*Nav and Header*/
.nav-toggle {
    display: none; 
}

.nav-menu {
    position: static;
    display: flex; 
    gap: clamp(0.5em, 4vw, 2em); 
    width: 100%;
    background: transparent;
    outline: none; 
    
}

nav a {
    font-size: clamp(20px, 2vw, 18px); 
}

nav a::before,
nav a::after {
  content: "";
  position: absolute;

  width: 15px;
  height: 15px;

  top: 50%;
  left: 50%;

  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.277);

  transform: translate(-50%, -50%) scale(0);
  opacity: 0;

  pointer-events: none;
}

@keyframes ripple {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%) scale(6);
    opacity: 0;
  }
}

nav a:hover::after {
  animation: ripple 1s ease-out;
}

nav a:hover::before {
  animation: ripple 2s ease-out .20s;
}

header img{
    width: 200px;
    height: 100px;
}


#light-toggle{
  right: 2rem;

}

/*Footer*/
.footerNav{
    display: flex;
    justify-content: flex-end; 
}
.footerNav ul{
    list-style: none;
    line-height: 30px;
    margin-top: -2rem;
    padding-bottom: 2rem;
    padding-right: 3rem;
}

.footerNav a{
    color: var(--dk-blue); 
}

.socialText{
    padding-top: 1.5rem;
    padding-left: 3rem;
    text-align: left;
}

.social-icons{
    padding-top: 1.5rem;
    padding-left: 3rem;
    float: left;
}

.copyright{
    text-align: center;
    font-size: 15px;
    padding-bottom: 1rem;
    margin-top: -3rem;
}

/*homepage*/
#home_page main p{
    max-width: 800px;
}

#facts ul{
    max-width: 800px;
    margin: 0 200px;
}

/*Tank setup page*/
.stock-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#fish-count:focus-within{
    background-image: url("images/fish-bubbles.png");
    background-color: #B8D3D9;
    max-width: 100%;
    color: var(--dk-blue);
    mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        #B8D3D9 3%,
        #B8D3D9 97%,
        transparent 100%
    );

    -webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        #B8D3D9 3%,
        #B8D3D9 97%,
        transparent 100%
    );
}

.mini-nav{
    display: grid;
    grid-template-columns: auto auto; 
    column-gap: 50px;
}

/*Links Page*/

.content {
    grid-column: 2;
    text-align: center;
}

.links-grids {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.links-grids img {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
}

#large-plant{
    width: 100px;
    margin-left: 100px;
}

.left-img {
    grid-column: 1;
}

.right-img {
    grid-column: 3;
}

.placeholder-right {
    grid-column: 3;
}

.placeholder-left {
    grid-column: 1;
}

.placeholder-left,
.placeholder-right {
    max-width: 400px;
    height: 150px; 
}

#tankSetup{
    margin-top: -40px;
}

#buy-supplies{
     margin-top: -40px;
}


}

/* MEDIA QUERY (large) */
@media screen and (min-width: 900px){

/*Nav*/
.nav-toggle {
    display: none; 
}

.nav-menu {
    gap: 2em;         
    flex-direction: row; 
}

nav a {
    font-size: 20px;  
}

/*Tank setup page*/
.stock-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#setup-tank h2{
    margin-bottom: 20px;
}

#selecting-fish-tanks{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    margin-bottom: 3rem;
}

#selecting-fish-tanks h3{
    margin-top: -2rem;
    grid-column: 2/ span 1;
    grid-row: 1/ span 1;
}

#selecting-fish-tanks img{
    grid-column: 1/ span 1;
    grid-row: 1/ span 1;   
}

#selecting-fish-tanks p{
    margin-top: 2rem;
    grid-column: 2/ span 1;
    grid-row: 1/ span 1;
    margin-right: 20px;
}

#selecting-fish{
    display: grid;
    padding-top: 2rem;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
     padding-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    margin-bottom: 3rem;
}

#selecting-fish h3{
    margin-top: -2rem;
    grid-column: 2/ span 1;
    grid-row: 1/ span 1;
}

#selecting-fish img{
    grid-column: 1/ span 1;
    grid-row: 1/ span 1;   
}

#selecting-fish p{
    margin-top: 2rem;
    grid-column: 2/ span 1;
    grid-row: 1/ span 1;
     margin-right: 20px;
}

#tank-interior{
    display: grid;
    padding-top: 4rem;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
     padding-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    margin-bottom: 3rem;
}

#tank-interior ul{
    padding-top: 2rem;
    grid-column: 2/ span 1;
    grid-row: 1/ span 1;
     margin-right: 20px;
}

#tank-interior img{
    grid-column: 1/ span 1;
    grid-row: 1/ span 1;
}

#tank-interior h3{
margin-top: -2rem;
    grid-column: 2/ span 1;
    grid-row: 1/ span 1;
}

#water-prep{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    margin-bottom: 3rem;
}

#water-prep p{
   padding-top: 2rem;
    grid-column: 2/ span 1;
    grid-row: 1/ span 1;
     margin-right: 20px;
}

#water-prep img{
    grid-column: 1/ span 1;
    grid-row: 1/ span 1;
}

#water-prep h3{
margin-top: -2rem;
    grid-column: 2/ span 1;
    grid-row: 1/ span 1;
}

#water-parameters{
    padding-top: 2rem;
     padding-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    margin-bottom: 3rem;
}

#water-parameters p{
    margin: 20px;
}

#add-fish{
    display: grid;
    padding-top: 5rem;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
     padding-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    margin-bottom: 3rem;
}

#add-fish p{
   padding-top: 2rem;
    grid-column: 2/ span 1;
    grid-row: 1/ span 1;
    margin-right: 20px;
}

#add-fish img{
    grid-column: 1/ span 1;
    grid-row: 1/ span 1;
}

#add-fish h3{
margin-top: -2rem;
    grid-column: 2/ span 1;
    grid-row: 1/ span 1;
}

.fish-types{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.fish-types img{
    height: 300px;

}

#fish-problems h2{
    margin-bottom: 20px;
}

#ich{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    margin-bottom: 3rem;
}

#ich h3{
    margin-top: -2rem;
    grid-column: 2/ span 1;
    grid-row: 1/ span 1;
}

#ich img{
    grid-column: 1/ span 1;
    grid-row: 1/ span 2;   
}

#ich p{
    margin-top: 2rem;
    grid-column: 2/ span 1;
    grid-row: 1/ span 1;
    margin-right: 20px;
}

#finrot{
    display: grid;
    column-gap: 20px;
    row-gap: 0;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    margin-bottom: 3rem;

}

#finrot h3{
    margin-top: -2rem;
    grid-column: 2/ span 1;
    grid-row: 1/ span 1;
}

#finrot img{
    grid-column: 1 / span 1;
    grid-row: 1 / span 4;
}

#finrot p{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    margin-right: 20px;
}

#finrot h5{
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}


#finrot ul {
   grid-column: 2 / span 1;
    grid-row: 4 / span 1;
}

#nippedfin{
    display: grid;
    column-gap: 20px;
    row-gap: 0;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    margin-bottom: 3rem;

}

#nippedfin h3{
    margin-top: -2rem;
    grid-column: 2/ span 1;
    grid-row: 1/ span 1;
}

#nippedfin img{
    grid-column: 1 / span 1;
    grid-row: 1 / span 4;
}

#nippedfin p{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    margin-right: 20px;
}

#nippedfin h5{
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

#nippedfin ul {
   grid-column: 2 / span 1;
    grid-row: 4 / span 1;
}

#dropsy{
    display: grid;
    column-gap: 20px;
    row-gap: 0;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    margin-bottom: 3rem;

}

#dropsy h3{
    margin-top: -2rem;
    grid-column: 2/ span 1;
    grid-row: 1/ span 1;
}

#dropsy img{
    grid-column: 1 / span 1;
    grid-row: 1 / span 4;
}

#dropsy p{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    margin-right: 20px;
}

#swimbladder{
    display: grid;
    column-gap: 20px;
    row-gap: 0;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    margin-bottom: 3rem;

}

#swimbladder h3{
    margin-top: -2rem;
    grid-column: 2/ span 1;
    grid-row: 1/ span 1;
}

#swimbladder img{
    grid-column: 1 / span 1;
    grid-row: 1/span 8;
}

#swim-bladder-p-1{
    grid-column: 2 / span 1;
    grid-row: 2/span 1;
}

#swim-bladder-h5-1{
    grid-column: 2 / span 1;
    grid-row: 3/span 1;
}

#swim-bladder-ul-1 {
   grid-column: 2 / span 1;
    grid-row: 4/span 1;

}

#swim-bladder-p-2 {
   grid-column: 2 / span 1;
    grid-row: 5/span 1;
}

#swim-bladder-h5-2{
   grid-column: 2 / span 1;
    grid-row: 6/span 1;
}

#swim-bladder-ul-2{
   grid-column: 2 / span 1;
    grid-row: 7/span 1;
}

#swim-bladder-p-3{
   grid-column: 2 / span 1;
   grid-row: 8/span 1;
   margin-bottom: 20px;
}

#tank-problems h2{
    margin-bottom: 20px;
}

#cloudywater{
    display: grid;
    column-gap: 20px;
    row-gap: 0;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    margin-bottom: 3rem;

}
#cloudywater img{
    grid-column: 1 / span 1;
    grid-row: 1/span 8;
}

#cloudywater h3{
    margin-top: -2rem;
    grid-column: 2/ span 1;
    grid-row: 1/ span 1;
}

#cloudy-p-1{
    grid-column: 2/ span 1;
    grid-row: 2/ span 1;
}

#cloudy-h5-1{
    grid-column: 2/ span 1;
    grid-row: 3/ span 1;
}

#cloudy-ul-1{
    grid-column: 2/ span 1;
    grid-row: 4/ span 1;

}

#cloudy-p-2{
    grid-column: 2/ span 1;
    grid-row: 5/ span 1;
}

#cloudy-h5-2{
    grid-column: 2/ span 1;
    grid-row: 6/ span 1;
}

#cloudy-ul-2{
    grid-column: 2/ span 1;
    grid-row: 7/ span 1;
}

#cloudy-p-3{
    grid-column: 2/ span 1;
    grid-row: 8/ span 1;
    margin-bottom: 20px;
}

#algae-bloom{
    display: grid;
    column-gap: 20px;
    row-gap: 0;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    margin-bottom: 3rem;

}
#algae-bloom img{
    grid-column: 1 / span 1;
    grid-row: 1/span 9;
}

#algae-bloom h3{
    margin-top: -2rem;
    grid-column: 2/ span 1;
    grid-row: 1/ span 1;
}

#green-p-1{
    grid-column: 2/ span 1;
    grid-row: 2/ span 1;
}

#green-h5-1{
    grid-column: 2/ span 1;
    grid-row: 3/ span 1;
}

#green-ul-1{
    grid-column: 2/ span 1;
    grid-row: 4/ span 1;
}

#green-p-2{
    grid-column: 2/ span 1;
    grid-row: 5/ span 1;
}

#green-h5-2{
    grid-column: 2/ span 1;
    grid-row: 7/ span 1;
}

#green-ul-2{
    grid-column: 2/ span 1;
    grid-row: 8/ span 1;
}

#green-p-3{
    grid-column: 2/ span 1;
    grid-row: 9/ span 1;
    margin-bottom: 20px;
}

#new-tank-syn{
    display: grid;
    column-gap: 20px;
    row-gap: 0;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    margin-bottom: 3rem;

}
#new-tank-syn img{
    grid-column: 1 / span 1;
    grid-row: 1/span 10;
}

#new-tank-syn h3{
    margin-top: -2rem;
    grid-column: 2/ span 1;
    grid-row: 1/ span 1;
}

#new-p-1{
    grid-column: 2/ span 1;
    grid-row: 2/ span 1;
}

#new-h5-1{
    grid-column: 2/ span 1;
    grid-row: 3/ span 1;
}

#new-ul-1{
    grid-column: 2/ span 1;
    grid-row: 4/ span 1;
}

#new-h5-2{
    grid-column: 2/ span 1;
    grid-row: 5/ span 1;
}

#new-ul-2{
    grid-column: 2/ span 1;
    grid-row: 7/ span 1;
}

#new-h5-3{
    grid-column: 2/ span 1;
    grid-row: 8/ span 1;
}

#new-ul-3{
    grid-column: 2/ span 1;
    grid-row: 9/ span 1;
}

#new-p-2{
    grid-column: 2/ span 1;
    grid-row: 10/ span 1;
    margin-bottom: 20px;
}

#calcium{
    display: grid;
    column-gap: 20px;
    row-gap: 0;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    margin-bottom: 3rem;

}

#calcium h3{
    margin-top: -2rem;
    grid-column: 2/ span 1;
    grid-row: 1/ span 1;
    margin-right: 10px;
}

#calcium img{
    grid-column: 1 / span 1;
    grid-row: 1 / span 4;
}

#calcium p{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    margin-bottom: 20px;
   
}

}


/* MEDIA QUERY (xl) */
@media screen and (min-width: 1200px){

/*Tank setup page*/
.stock-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.fish-types{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    
}

.mini-nav{
    display: grid;
    grid-template-columns: auto auto auto; 
    column-gap: 50px;
}

}